In [6]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
recipes = pd.read_csv("recipes.csv")
reviews = pd.read_csv("reviews.csv")

In [8]:
reviews

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z,2000-03-13T21:15:00Z
4,14,44,2085,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z
...,...,...,...,...,...,...,...,...
1401977,2090339,139499,2002080368,terrylbiggs,2,I was disappointed. I couldn't wait to make th...,2020-12-27T23:57:54Z,2020-12-27T23:57:54Z
1401978,2090340,148484,41805321,rogerberry,5,Nothing to drain. And I don’t heat up the liqu...,2020-12-28T00:44:42Z,2020-12-28T00:44:42Z
1401979,2090341,264191,2002901848,Reiketsukan 6.,5,Good base recipe for someone to start with. I ...,2020-12-28T01:04:43Z,2020-12-28T01:04:43Z
1401980,2090345,411791,2002901938,Sue M.,5,Thank you so much for this amazing recipe! I l...,2020-12-28T03:07:10Z,2020-12-28T03:07:10Z
1401981,2090347,352686,2002812127,dede25cory,5,I can't say enough about this recipe.... the b...,2020-12-28T03:23:48Z,2020-12-28T03:23:48Z

In [9]:
author_review_counts = recipes.groupby('AuthorId').size()
review_count_greater_than_4 = author_review_counts[author_review_counts > 4]

recipes_with_many_reviews = recipes[recipes['AuthorId'].isin(review_count_greater_than_4.index)]
recipes_with_many_reviews.reset_index(inplace=True)

recipes_with_many_reviews = recipes_with_many_reviews.drop('index', axis=1)

In [12]:
recipes_with_many_reviews

,RecipeId,Name,AuthorId,AuthorName,CookTime,PrepTime,TotalTime,DatePublished,Description,Images,...,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield,RecipeInstructions
0,38,Low-Fat Berry Blue Frozen Dessert,1533,Dancer,PT24H,PT45M,PT24H45M,1999-08-09T21:46:00Z,Make and share this Low-Fat Berry Blue Frozen ...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,1.3,8.0,29.8,37.1,3.6,30.2,3.2,4.0,NaN,"c(""Toss 2 cups berries with sugar."", ""Let stan..."
1,39,Biryani,1567,elly9812,PT25M,PT4H,PT4H25M,1999-08-29T13:12:00Z,Make and share this Biryani recipe from Food.com.,"c(""https://img.sndimg.com/food/image/upload/w_...",...,16.6,372.8,368.4,84.4,9.0,20.4,63.4,6.0,NaN,"c(""Soak saffron in warm milk for 5 minutes and..."
2,41,Carina's Tofu-Vegetable Kebabs,1586,Cyclopz,PT20M,PT24H,PT24H20M,1999-09-03T14:54:00Z,This dish is best prepared a day in advance to...,"c(""https://img.sndimg.com/food/image/upload/w_...",...,3.8,0.0,1558.6,64.2,17.3,32.1,29.3,2.0,4 kebabs,"c(""Drain the tofu, carefully squeezing out exc..."
3,42,Cabbage Soup,1538,Duckie067,PT30M,PT20M,PT50M,1999-09-19T06:19:00Z,Make and share this Cabbage Soup recipe from F...,"""https://img.sndimg.com/food/image/upload/w_55...",...,0.1,0.0,959.3,25.1,4.8,17.7,4.3,4.0,NaN,"c(""Mix everything together and bring to a boil..."
4,43,Best Blackbottom Pie,34879,Barefoot Beachcomber,PT2H,PT20M,PT2H20M,1999-08-21T10:35:00Z,Make and share this Best Blackbottom Pie recip...,character(0),...,10.9,94.3,267.6,58.0,1.8,42.5,7.0,8.0,1 9-inch pie,"c(""Graham Cracker Crust: In small bowl, combin..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452679,541379,Meg's Fresh Ginger Gingerbread,2002090414,rdsxc,PT35M,PT1H,PT1H35M,2020-12-22T15:27:00Z,Make and share this Meg's Fresh Ginger Gingerb...,character(0),...,7.6,54.4,278.2,48.5,0.8,22.8,3.9,8.0,1 8x8 cake pan,"c(""Preheat oven to 350&deg;F Grease an 8x8 cak..."
452680,541380,Roast Prime Rib au Poivre with Mixed Peppercorns,211566,Denver cooks,PT3H,PT30M,PT3H30M,2020-12-22T15:32:00Z,"White, black, green, and pink peppercorns add ...","""https://img.sndimg.com/food/image/upload/w_55...",...,71.4,433.8,766.3,3.2,0.7,0.1,117.0,8.0,1 Roast,"c(""Position rack in center of oven and preheat..."
452681,541381,Kirshwasser Ice Cream,2001131545,Jonathan F.,PT3H,PT1H,PT4H,2020-12-22T15:33:00Z,Make and share this Kirshwasser Ice Cream reci...,character(0),...,72.6,470.9,192.5,33.9,0.0,17.3,12.8,6.0,NaN,"c(""heat half and half and heavy cream to a sim..."
452682,541382,Quick & Easy Asian Cucumber Salmon Rolls,2001004241,CLUBFOODY,NaN,PT15M,PT15M,2020-12-22T22:11:00Z,"Extremely quick and easy to make, these are gr...","""https://img.sndimg.com/food/image/upload/w_55...",...,0.1,2.9,100.5,0.3,0.0,0.1,2.4,NaN,20 rolls,"c(""In a small bowl, combine mayo and wasabi pa..."
452683,541383,Spicy Baked Scotch Eggs,188099,Chef LauraMD,PT25M,PT15M,PT40M,2020-12-22T22:12:00Z,"Great way to have hard boiled eggs and crispy,...",character(0),...,22.2,1769.7,1318.6,29.7,1.3,6.7,76.4,NaN,NaN,"c(""Mix sausage, panko, egg yolk and Wocestersh..."

In [13]:
author_review_counts = reviews.groupby('AuthorId').size()
author_review_count_greater_than_4 = author_review_counts[author_review_counts > 19]

recipe_review_count = reviews.groupby('RecipeId').size()
recipe_review_count_greater_than_4 = recipe_review_count[recipe_review_count > 19]

recipes_with_many_reviews = reviews[reviews['AuthorId'].isin(author_review_count_greater_than_4.index)]
recipes_with_many_reviews = recipes_with_many_reviews[recipes_with_many_reviews['RecipeId'].isin(recipe_review_count_greater_than_4.index)]

recipes_with_many_reviews.reset_index(inplace=True)

recipes_with_many_reviews = recipes_with_many_reviews.drop('index', axis=1)

In [14]:
recipes_with_many_reviews

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,236,4807,2695,Hungarian Gypsy,2,"I'm sorry, but I tried this method for my Chri...",2000-12-27T13:47:50Z,2000-12-27T13:47:50Z
1,243,810,2312,Gay Gilmore,0,"Good, but I wished they were a bit more moist.",2001-01-02T16:15:26Z,2001-01-02T16:15:26Z
2,292,5466,2312,Gay Gilmore,1,"I'm pretty sure this recipe is a joke, but I d...",2001-01-16T10:53:59Z,2001-01-16T10:53:59Z
3,335,12134,2695,Hungarian Gypsy,5,This dish was excellent. The sauce turned out...,2001-01-19T16:40:14Z,2001-01-19T16:40:14Z
4,396,2713,5523,Dave C,4,Good one even for cold nights in Toronto.,2001-02-01T18:37:13Z,2001-02-01T18:37:13Z
...,...,...,...,...,...,...,...,...
322867,2090251,49088,2038463,DownHomeDinner,5,This will definitely be a repeat in my recipe ...,2020-12-25T19:23:03Z,2020-12-25T19:23:03Z
322868,2090259,43023,894666,bubbleyumm82,5,Just got a homemade pasta machine as a gift an...,2020-12-25T21:27:07Z,2020-12-25T21:27:07Z
322869,2090280,73866,843817,shadowgirl...,5,I made this recipe a few years back several ti...,2020-12-26T14:15:09Z,2020-12-26T14:15:09Z
322870,2090287,26370,2038463,DownHomeDinner,0,"While making this, I wasn't so sure I would ev...",2020-12-26T17:00:43Z,2020-12-26T17:00:43Z
322871,2090301,339905,35251,lmkga,5,Easy and delish.,2020-12-27T00:00:56Z,2020-12-27T00:00:56Z

In [61]:
authorIds = recipes_with_many_reviews["AuthorId"].unique()

In [63]:
sorted_authorIds = np.sort(authorIds)

In [15]:
reviews_pivoted = recipes_with_many_reviews.pivot(index='AuthorId', columns='RecipeId', values='Rating').fillna(0)

In [16]:
binary_matrix = reviews_pivoted.where(reviews_pivoted ==  0, 1)

In [17]:
def density(df):
    total_cells = df.size
    cells_greater_than_zero = df[df > 0].count().sum()
    return (cells_greater_than_zero / total_cells) * 100

In [18]:
reviews_pivoted

RecipeId,44,49,56,62,76,102,116,129,142,153,...,516527,517764,517863,518068,518069,518145,518151,519642,533699,533997
AuthorId,,,,,,,,,,,,,,,,,,,,,
1533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1535,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1634,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002273175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002312797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002321540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002404048,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2002754832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
print(density(reviews_pivoted))

0.37467925157415166

In [20]:
avg_ratings = reviews.groupby('RecipeId').agg(avg_rating = ('Rating', 'mean'),
                                                number_of_ratings = ('Rating', 'count')).reset_index()

avg_ratings59 = avg_ratings[avg_ratings['number_of_ratings']>59]

avg_ratings59.sort_values(by='number_of_ratings', ascending=False)["RecipeId"].head()

32406    45809
1109      2886
18447    27208
64074    89204
27386    39087
Name: RecipeId, dtype: int64

In [21]:
similarity_matrix = cosine_similarity(reviews_pivoted)

In [22]:
similarity_matrix

array([[1.        , 0.01233141, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.01233141, 1.        , 0.        , ..., 0.        , 0.00683476,
        0.02124806],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.00683476, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.02124806, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [23]:
similarity_matrix_df = pd.DataFrame(similarity_matrix, index=reviews_pivoted.index, columns=reviews_pivoted.index)

In [24]:
similarity_matrix_df

AuthorId,1533,1535,1634,1676,1792,1891,1962,2178,2310,2312,...,2001832057,2002093000,2002144249,2002169932,2002256447,2002273175,2002312797,2002321540,2002404048,2002754832
AuthorId,,,,,,,,,,,,,,,,,,,,,
1533,1.000000,0.012331,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
1535,0.012331,1.000000,0.0,0.0,0.0,0.01857,0.037146,0.018175,0.011138,0.027976,...,0.0,0.018837,0.000000,0.021477,0.014439,0.0,0.028488,0.0,0.006835,0.021248
1634,0.000000,0.000000,1.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
1676,0.000000,0.000000,0.0,1.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.127329,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
1792,0.000000,0.000000,0.0,0.0,1.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.050215,0.000000,0.0,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002273175,0.000000,0.000000,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000
2002312797,0.000000,0.028488,0.0,0.0,0.0,0.00000,0.079318,0.000000,0.020295,0.037482,...,0.0,0.051484,0.000000,0.000000,0.029233,0.0,1.000000,0.0,0.000000,0.000000
2002321540,0.000000,0.000000,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.0,0.000000,0.000000
2002404048,0.000000,0.006835,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.015521,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000,0.000000
2002754832,0.000000,0.021248,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,1.000000

In [26]:
row_zeros = similarity_matrix_df.eq(0).sum(axis=1)

row_with_least_zeros = row_zeros.idxmin()

print("Row with the least number of 0s:", row_with_least_zeros)

Row with the least number of 0s: 140132

In [27]:
similarity_matrix_df = pd.DataFrame(similarity_matrix)

row_sums = similarity_matrix_df.sum(axis=1)

row_with_highest_similarity = row_sums.idxmax()

print("Row with the highest accumulated similarity:", row_with_highest_similarity)

Row with the highest accumulated similarity: 2167

In [28]:
flattened_matrix = similarity_matrix.flatten()

filtered_values = flattened_matrix[flattened_matrix < .9]

max_val = filtered_values.max()

In [29]:
result = similarity_matrix_df.where(similarity_matrix_df == max_val).dropna(how='all').dropna(axis=1, how='all')

print(result)

row_index, col_index = result.index[0], result.columns[0]

          567       582
567       NaN  0.816388
582  0.816388       NaN

In [74]:
sorted_authorIds[582]

42147

In [75]:
recipes_with_many_reviews[recipes_with_many_reviews["AuthorId"] == sorted_authorIds[582]]

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
2224,15242,19135,42147,AdamB,5,Fantastic!!!!!!,2002-05-28T19:40:55Z,2002-05-28T19:40:55Z
2286,15415,23116,42147,AdamB,5,This is the Best!! We loved it!! Thank you.,2002-05-29T20:13:05Z,2002-05-29T20:13:05Z
2287,15416,24672,42147,AdamB,5,Made this with my boy scout troop. What a majo...,2002-05-29T20:13:06Z,2002-05-29T20:13:06Z
2327,15559,26243,42147,AdamB,5,"Excellent, Excellent, and Excellent!!!!!!!!",2002-06-02T18:48:58Z,2002-06-02T18:48:58Z
2427,15959,22169,42147,AdamB,5,"We love fetticcini alfredo, and this is the be...",2002-06-05T18:08:15Z,2002-06-05T18:08:15Z
2481,16211,21771,42147,AdamB,5,We made these on top of the stove. It's a real...,2002-06-10T18:01:26Z,2002-06-10T18:01:26Z
3725,20987,23195,42147,AdamB,5,Outstanding! Throughly enjoyed by all. Thanks ...,2002-08-08T18:38:44Z,2002-08-08T18:38:44Z
4103,22401,29569,42147,AdamB,5,Excellent dessert. Light and fluffy with a won...,2002-08-25T22:16:41Z,2002-08-25T22:16:41Z
4104,22402,32735,42147,AdamB,5,You definitely get a lot of flavor for your wo...,2002-08-25T22:16:41Z,2002-08-25T22:16:41Z
5486,28393,30864,42147,AdamB,5,Another great recipe from Inez! This was wonde...,2002-10-19T12:59:29Z,2002-10-19T12:59:29Z
5957,30277,25600,42147,AdamB,5,This could very well be the best peach dessert...,2002-11-01T17:57:06Z,2002-11-01T17:57:06Z

In [76]:
recipes_with_many_reviews[recipes_with_many_reviews["AuthorId"] == sorted_authorIds[567]]

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
2140,14892,19135,41564,Alice In Wa,5,Scrumptious!! This is the BEST italian dinner ...,2002-05-22T17:07:26Z,2002-05-22T17:07:26Z
2225,15244,24672,41564,Alice In Wa,5,This is a really awesome dessert!! Thank you f...,2002-05-28T19:40:56Z,2002-05-28T19:40:56Z
2226,15245,21771,41564,Alice In Wa,5,Had this for dinner tonight with another of In...,2002-05-28T19:40:57Z,2002-05-28T19:40:57Z
2405,15857,26243,41564,Alice In Wa,5,A major hit! Wish I could give more than 5 sta...,2002-06-04T17:16:02Z,2002-06-04T17:16:02Z
2540,16424,23116,41564,Alice In Wa,5,What a super taste this has. This was a very g...,2002-06-12T16:53:08Z,2002-06-12T16:53:08Z
3343,19505,22169,41564,Alice In Wa,5,The best fettuccini ever! The chicken was so m...,2002-07-24T23:22:31Z,2002-07-24T23:22:31Z
3344,19506,29569,41564,Alice In Wa,5,Out of this world good!! This is so fluffy and...,2002-07-24T23:22:31Z,2002-07-24T23:22:31Z
3627,20624,23195,41564,Alice In Wa,5,This was just fabulous!! It will be a regular ...,2002-08-05T19:01:20Z,2002-08-05T19:01:20Z
3628,20625,29303,41564,Alice In Wa,5,This is delicious! We really enjoyed this way ...,2002-08-05T19:01:20Z,2002-08-05T19:01:20Z
4000,22029,25600,41564,Alice In Wa,5,Wonderful! I made this for a dinner party we w...,2002-08-19T17:53:15Z,2002-08-19T17:53:15Z
7085,34704,30864,41564,Alice In Wa,5,WOW!!!!!!!! Fantastic!!! It don't get any bett...,2002-12-16T17:53:22Z,2002-12-16T17:53:22Z
11575,52502,34688,41564,Alice In Wa,5,A nice and easy weekday supper. Very Tasty!,2003-05-16T12:02:34Z,2003-05-16T12:02:34Z
11576,52503,39560,41564,Alice In Wa,5,WOW!! These are addictive! I will make these a...,2003-05-16T12:04:14Z,2003-05-16T12:04:14Z
70081,265882,12458,41564,Alice In Wa,4,This was very good! Thouroughly enjoyed by all...,2002-10-02T17:02:25Z,2002-10-02T17:02:25Z

In [31]:
select_userid =  8200
similarities = similarity_matrix_df[select_userid].drop(select_userid)
weights = similarities/similarities.sum()

In [32]:
n = 10 
user_similarity_threshold =  0.25
# Get top n similar users
similar_users = similarity_matrix_df[similarity_matrix_df[select_userid]>user_similarity_threshold][select_userid].sort_values(ascending=False)[:n]

In [33]:
similar_users

8200    1.0
Name: 8200, dtype: float64

In [99]:
def predict_rating_user_based(user_id, item_id, similarity_matrix, reviews_pivoted):
    similar_users = similarity_matrix[user_id]
    known_ratings = reviews_pivoted[item_id]
    weighted_ratings = similar_users * known_ratings
    sum_weighted_ratings = np.sum(weighted_ratings)
    print(sum_weighted_ratings)
    sum_similarities = np.sum(similar_users)
    print(sum_similarities)
    if sum_similarities == 0:
        return np.mean(reviews_pivoted[item_id])
    predicted_rating = sum_weighted_ratings / sum_similarities
    return predicted_rating

In [100]:
predict_rating_user_based(567, 12458, similarity_matrix_df, reviews_pivoted)

0.09844379529264202
57.91320023531274

0.0016998507230242066

---